.backdrop {
  position: fixed;
  inset: 0px;
  background-color: rgba(47, 47, 47, 0.6);
  z-index: 20;
  overflow: auto;
  display: grid;
  place-items: center;
}

.conteinerModal {
  background-color: var(--bg-color2);
  padding: 40px;
  border-radius: 20px;
  width: 982px;
}

.conteinerDetails {
  margin: 8px 0 18px 0;
}

.iconStar {
  color: #ffc531;
  height: 16px;
  width: 16px;
  padding-right: 4px;
}

.detailLocation {
  margin-left: 16px;
}

.detailRating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  padding: 0;
  margin: 0;
}

.camperName {
  float: left;
  margin: 5px;
}

.iconClose {
  width: 35px;
  height: 35px;
}

.buttonIconClose {
  float: right;
  border: 0px;
  background-color: var(--bg-color2);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.detailDetails {
  margin-top: 40px;
}

.priceStyle {
  margin: 16px 0 0 0;
}

.conteinerGalleryList {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.galleryList {
  width: 320px;
  height: 330px;
  margin: 24px 0;
  border-radius: 10px;
  object-fit: cover;
}

.conteinerAdditionalDetails {
  margin: 40px 0 24px 0;
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--border-color);
}

.additionalDetails {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  cursor: pointer;
}

.active {
  border-bottom: 5px solid var(--button-color);
  padding-bottom: 24px;
}
