.listConteiner {
  margin: 0;
  padding: 0;
}

.conteinerButtonLoadMore {
  margin: 50px 0 100px 800px;
}

.buttonLoadMore {
  border: 1px solid rgba(71, 84, 103, 0.2);
  background-color: #fff;
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.buttonLoadMore:hover {
  border: 1px solid #e44848;
}
