.conteinerNavigation {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-bottom: 1px solid rgba(16, 24, 40, 0.2);
  margin-bottom: 55px;
  /* width: 1440px; */
}

.navigationStyle {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-decoration: none;
  color: #111;
  cursor: pointer;
}

.active {
  border-bottom: 5px solid #e44848;
  padding-bottom: 24px;
}
