:root[data-theme="light"] {
  --bg-color: #fff;
  --bg-color2: #fff;
  --text-color: #2a2a2a;
  --text-color2: #f6f6f6;
  --text-color3: #0f162799;
  --button-color: #e44848;
  --hover-button-color: #d84343;
  --border-color: #42566c46;
  --dt-bg-color: #f2f4f7;
}

:root[data-theme="dark"] {
  --bg-color: #2a2a2a;
  --bg-color2: #202020;
  --text-color: #fff;
  --text-color2: #2a2a2a;
  --text-color3: #a6aab7b5;
  --button-color: #5b59c5;
  --hover-button-color: #5756a8;
  --border-color: #a1bdda46;
  --dt-bg-color: #4c4c4c;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 1440px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.5s ease, color 0.5s ease, fill 0.5s ease,
    border 0.5s ease, border-bottom 0.5s ease;
}
