.conteinerBookForm {
  float: right;
  width: 448px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  width: 428px;
  padding: 24px;
  margin: 20px 0 0 0;
}

.bookCampersStyle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.textStyle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin: 8px 0 24px 0;
  color: var(--text-color3);
}

.valueStyle {
  border: 1px solid var(--dt-bg-color);
  border-radius: 10px;
  background-color: var(--dt-bg-color);
  color: var(--text-color);
  padding: 0 0 0 18px;
  width: 400px;
  height: 46px;
  margin-bottom: 14px;
}

.valueComentStyle {
  border: 1px solid var(--dt-bg-color);
  border-radius: 10px;
  background-color: var(--dt-bg-color);
  color: var(--text-color);
  padding: 18px 0 0 18px;
  width: 400px;
  height: 96px;
  margin: 14px 0 24px 0;
  resize: none;
}

.errorMesageStyle {
  color: #e44848;
  padding: 0 0 0 10px;
}

.formButton {
  border: 0px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 160px;
  height: 56px;
  background-color: var(--button-color);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.formButton:hover {
  background-color: var(--hover-button-color);
}
