.settingConteiner {
  float: left;
  margin: 0 45px 0 0;
}

.textStyle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-color3);
  margin: 0;
  display: flex;
}

.locationInput {
  border: 0px;
  border-radius: 10px;
  background-color: var(--dt-bg-color);
  color: var(--text-color);
  margin-bottom: 32px;
  padding-left: 50px;
  width: 250px;
  height: 56px;
  font-size: 18px;
  cursor: text;
}

.iconLocation {
  padding: 14px 0 14px 14px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.styleTextH {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin: 14px 0 0 0;
}

.styleSpan {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 24px;
}

.nameSquare {
  margin: 24px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 320px;
}

.hiddenCheckbox,
.hiddenRadio {
  display: none;
}

.filterStyle {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  width: 93px;
  height: 85px;
  background-color: var(--bg-color);
  cursor: pointer;
}
.filterStyle:hover {
  background-color: var(--dt-bg-color);
}
label:has(input[type="checkbox"]:checked),
label:has(input[type="radio"]:checked) {
  border-color: var(--button-color);
}

.iconFilterStyle {
  width: 25px;
  height: 25px;
  padding: 15px 25px 0 25px;
}

.iconCamperStyle {
  width: 40px;
  height: 30px;
  padding: 7px 25px 0 25px;
}

.buttonStyle {
  border: 1px solid var(--button-color);
  border-radius: 200px;
  padding: 16px 40px;
  margin-top: 64px;
  width: 166px;
  height: 56px;
  color: #fff;
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  cursor: pointer;
}
.buttonStyle:hover {
  background-color: var(--hover-button-color);
}
